img{
	width: 30%;

}
body{
	
    font-family:Arial ;

	background-image: url(https://t3.ftcdn.net/jpg/02/86/08/06/360_F_286080640_oOmrDov9izQLKNus78bsDMMpv1hAANao.jpg);
}
·título{
	width: 50%
}