img.normal{
	width: 30%;

}
body{
	
    font-family:Arial ;

	background-image: url(https://t3.ftcdn.net/jpg/02/86/08/06/360_F_286080640_oOmrDov9izQLKNus78bsDMMpv1hAANao.jpg);
}
·título{
	width: 50%
}
ul.no-bullets{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
button.redes{
	border-radius: 10px;
	border-color: red ;
	color: Blue ;
}
button.pags{
	border-radius: 50px;
	border-color: blue;
	color: black ;
}
button.canales{
	border-radius: 80px;
	border-color: green;
	color: purple ;
}

.lista1{
	text-align: center;
}

button.task{
	border-radius: 100px;
	border-color: purple;
	color: red ;
}

